
Descripcion: {{textarea type="text" class="form-control" value=concepto.descripcion}}
Cantidad: {{input type="number" class="form-control" value=concepto.cantidad}}
Precio: {{input type="number" class="form-control" value=concepto.precio}}
Descuento: {{input type="number" class="form-control" value=concepto.descuento}}

<div class="float-right">
<p class="" >Importe: {{concepto.importe}} </p>
<b><p  class="" >TOTAL: {{concepto.total}}</p><br></b>
</div>
