<br><br><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Serie</th>
      <th scope="col">Folio</th>
      <th scope="col">Fecha</th>
      <th scope="col">SubTotal</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |factura|}}
  <tr>
    <td>{{factura.id}}</td>
    <td>{{factura.serie}}</td>
    <td>{{factura.folio}}</td>
    <td>{{factura.fecha}}</td>
    <td>{{factura.subtotal}}</td>
    <td>{{factura.total}}</td>
  </tr>
  {{/each}}
  </tbody>
</table><br><br>
<center><h2>¡Sigue creando Facturas!</h2></center>
<div style="height:2000px;"></div>